*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

:root {
    --bg-color: #080808;
    --text-color: white;
    --main-color: snow;
}
html{
    font-size: 62%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    align-content: space-between;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo :hover{
    transition: scale(1.1);
}

span{
    color: var(--main-color);
}

.navbar a{
    font-size: 1.0rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 03s ease;
    border-bottom: 3px solid var(--main-color);
}

.navbar a:hover,
.navbar a:active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
